/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");

/* defining color variables  */
:root {
  --greyish: #555555;
  --dark: #1c1c1c;
  --btn-blue: #4fa0db;
  --darker-blue: #00769d;
  --yellow: rgba(240, 219, 79, 0.8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Hind", sans-serif;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex > div,
.flex > ul,
.flex > img {
  flex: 1;
  /* will take up 50% of the width */
}
.center {
  display: flex;
  justify-content: center;
}

.start {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
}

/* spaces out the imgs within the divs */
/* .flex > div:first-child {
  padding-right: 20px;
}
.flex > div:last-child {
  padding-left: 20px;
} */

.top {
  margin-top: 70px;
}
h1,
h2,
h3,
h4 {
  font-family: Montserrat;
  font-style: normal;
  color: var(--dark);
}

h1 {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 44px;
  margin-top: 0.5rem;
  text-transform: capitalize;
}
h2 {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 34px;
  text-transform: uppercase;
  margin: 3rem 0 1rem 0;
}

h3 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 29px;
  text-transform: capitalize;
}
h4 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 27px;
  text-transform: capitalize;
}

p {
  margin: 0.7rem 0;
  color: var(--greyish);
}

.btn-primary {
  padding: 0.7rem;
  font-family: Hind;
  font-style: normal;
  font-weight: 500;
  background: var(--btn-blue);
  border: 1px solid var(--btn-blue);
  box-sizing: border-box;
  text-transform: capitalize;
  color: #ffffff;
  margin-right: 0.6rem;
}
.btn-yellow {
  background: var(--yellow);
  border: 1px solid var(--yellow);
  color: var(--dark);
  margin-top: 0.6rem;
}

.download-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.link-icon {
  width: 10px;
  height: 10px;
  color: var(-greyish);
}

.skill {
  height: 4rem;
  width: 4rem;
  margin: 1rem;
}

.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
}

.profile {
  height: 80%;
  width: auto;
}

hr {
  display: block;
  height: 5px;
  width: 30%;
  border: 0;
  border-top: 2px solid var(--darker-blue);
  margin: 1em 0;
  padding: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: var(--dark);
  text-decoration: underline;
}

a.resume {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 32px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: var(--btn-blue);
  margin-left: 0.2rem;
}
.bg-light-grey {
  background-color: rgba(229, 229, 229, 0.38);
}

.card {
  padding: 1rem 3rem;
}

/* nav styling */
nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  padding: 0.7rem 0;
}

nav .hamburger {
  display: none;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  margin-left: 30px;
}

nav li a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--greyish);
}

a.logo,
a.nav-links {
  color: var(--greyish);
  text-decoration: none;
  font-size: 1.1rem;
}
a.logo {
  text-transform: uppercase;
}

/* keeps img to left and takes up less space */
.flex .about-pic,
.flex .profile {
  flex: 0.4;
}

.flex .profile {
  margin-left: 2rem;
}
.flex .about-pic {
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .flex :not(.bg-light-grey),
  .portfolio {
    flex-direction: column;
  }
  .flex .social-container {
    flex-direction: row;
  }
  nav {
    padding: 0.3rem;
  }
  nav .hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
  }

  nav .hamburger::focus {
    outline: none;
  }

  nav .hamburger .close {
    display: none;
  }

  nav .hamburger.show .open {
    display: none;
  }
  nav .hamburger.show .close {
    display: block;
  }

  nav .flex {
    flex-direction: row;
    padding-top: 25px;
  }

  nav .img-wrapper {
    text-align: left;
  }

  nav ul {
    display: none;
  }

  nav ul.show {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 30px;
    margin: 0;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh- 70px);
    z-index: 100;
  }

  nav ul li {
    margin: 30px 0;
  }

  nav ul a {
    color: white;
  }

  .profile {
    margin-top: 2rem;
  }
  .flex .profile {
    margin-left: 0rem;
  }
  .flex .about-pic {
    margin-right: 0rem;
  }
}
